:root {
    --color-primary: #2E2F42;
    --color-secondary: #434455;
    --color-active: #4D5AE5;
    --color-fading: #fff;
    --color-brand: #E7E9FC;
    --color-shadow: #F4F4FD;
    --color-filtr: #404BBF;
}

body {
    background-color: var(--color-fading);
    color: var(--color-secondary);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 1440px;
    height: 3200px;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
}

.container {
    width: 1158px;
    margin-left: 156px;
    margin-right: 156px;
    margin: 0 auto;
}

/**--HEADER--**/

.header {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 72px;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin-right: 332px;
    gap: 40px;
}

.header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    color: var(--color-active);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo {
    color: var(--color-primary);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-link {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-filtr);
}

.header-address {
    font-style: normal;    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link {
    color: var(--color-secondary);
}
 
.header-address-link.link:hover,
.header-address-link.link:focus {
    color: var(--color-filtr);
}


/**--MAIN--**/

.section-title {
    padding-top: 188px;
    padding-bottom: 188px;
} 

.section-title {
    background-color: var(--color-primary);
    color: var(--color-fading);
    width: 1440px;
}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.section-title-btn {
    background-color: var(--color-active);
    font-family: 'Roboto', sans-serif;
    color: var(--color-fading);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;


    min-width: 169px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: flex;
}

/**--HERO--**/


.section-hero {
    width: 1128px;
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}


.section-hero-title {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.section-hero-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

 /**--GALLERY--**/

 .gallery {
    width: 1128px;
    margin: 0 auto;
 }

.gallery-title {
    color: var(--color-primary);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    min-width: 323px;
    margin-bottom: 72px;
}

/**--TEAM--**/

.team{
    background-color: var(--color-shadow);
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-main-title {
    color: var(--color-primary);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-item {
    background-color: var(--color-fading);
    padding-bottom: 32px;
}

.team-title {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;
    text-align: center;
    min-width: 134px;
    padding-right: 16px;
    padding-left: 16px;
}

.team-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    min-width: 128px;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
}


/**--PORTFOLIO--**/

.filters-title {
    color: rgba(0, 0, 0, 0);
}

.filters-btn {
    cursor: pointer;
    color: var(--color-active);
    background-color: var(--color-shadow);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.filters-btn:hover,
.filters-btn:focus {
    background-color: var(--color-filtr);
    color: var(--color-fading);
}

.portfolio-title {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-txt {
    font-family: 'Roboto', sans-serif;
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**--FOOTER--**/

.footer {
    background-color: var(--color-primary);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}

.section-logo {
    padding-left: 156px;
}

.footer-link {
    color: var(--color-active);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    width: 115px;
}

.footer-logo {
    color: var(--color-shadow);
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-text {
    color: var(--color-brand);
    margin-top: 16px;
    width: 264px;
}
